
<ion-view view-title="Developed By">
    <ion-content>
        <div>

  <div class="item item-body">
    <p>
      This App is Developed & Maintained By Webflax technology.</p>
        
     <p> <span style="font-size: 15px;color: #0903ff;">Address :</span> Shop No. 10 , First Floor, City Center, Sheoganj.</p>
        
     <p>  <span style="font-size: 15px;color: #0903ff;"> Email : </span>contact@webflax.com</p>
      <p> <span style="font-size: 15px;color: #0903ff;">Website :</span> www.webflax.com</p>
    
      <p><span style="font-size: 15px;color: #0903ff;">  Mobile No :</span> 7014347505 , 8860498653 </p>
    
  </div>

</div>
    </ion-content>
</ion-view>